.profile-cont{
    background-color: rgba(239, 239, 239, 0);
    flex: 0.7;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-card{
    width: 350px;
    height: 400px;
    background: rgb(0, 72, 255);
background: linear-gradient(360deg, rgb(2, 79, 181) 0%, rgb(0, 183, 255) 100%);
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    flex-wrap: wrap;
    color: rgb(255, 251, 251) !important;
}

.img-btn img{
    border: 2px solid white;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.5s ease-in-out;
}

.img-btn img:hover{
    scale: 1.1;
}

.img-btn{
    position: relative;
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border: 2px solid white;
    overflow: hidden;
    margin: 0;
}
.prof-name{
    display: flex;
    flex-wrap: wrap;
}

.btn{
    position: absolute;
    cursor: pointer;
    margin-top: 150px;
    z-index: 999;
    display: none;
    background-color: rgba(0, 119, 255, 0.914);
    border: none;
    padding: 10px;
    border-radius: 20px;
    color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.btn:hover{
    display: block;
}
.btn:active{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 0px 7px -3px;

}

.img-btn:hover + .btn{
    display: block;
}

#file-upload{
    display: none;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Set the overlay color with transparency */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
  }

@media screen and (max-width:850px) {
    .profile-card{
        width: 90%;
    }
    .profile-cont{
        flex: 0.95;
    }
}
@media screen and (max-width:850px) {
    .profile-card{
        width:70%;
    }
    .profile-cont{
        flex: 1;
    }
    .prof-name{
        font-size: 18px !important;
        text-align: center;
    }
    .details p{
        font-size: 10px !important;
    }

}